{% extends 'blog/base.html' %}
{% load static %}

{% block title %} SaferaTech {% endblock %}
{% block jsq %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock jsq %} 
{% block content %}
{% csrf_token %}
{% if posts or users %}

            <p>Found {{ posts|length }} post{{ posts|pluralize }}, and {{ users|length }} user{{ users|pluralize }}</p>
            
           <ul class="nav nav-tabs  text-muted">
  
  <li class="nav-item"><a class="nav-link  text-muted active" data-toggle="tab" href="#post">Posts</a></li>
  <li class="nav-item"><a class="nav-link  text-muted" data-toggle="tab" href="#user">Users</a></li>
</ul>

<div class="tab-content border text-muted ">
  
  <div id="post" class="tab-pane  text-muted fade  active">
   
    {% if posts|length > 0 %}
   <p> {% for post in posts %}
                <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
                {% endfor %}</p>
      {% else %} <p>No posts were found for your search</p>
      {% endif %}
  </div>
  <div id="user" class="tab-pane fade text-muted">
   
    {% if users|length > 0 %}
    <p>{% for user in users %}
                <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ user.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <h3><a class="mr-2" style="font-family: palatino" href="{% url 'user-posts' user.username %}">Username: {{ user.username }}</a></h3>
              </div>
              <p class="mr-2" style="font-family: palatino">First Name: {{ user.first_name }}</p>
              <p class="mr-2" style="font-family: palatino">Last Name: {{ user.last_name }}</p> 
            </article>
              {% endfor %}</p>
              {% else %} <p>No users were found for your search</p>
      {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}
